@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
 
   background: url('/images/nolimitbackground.png');
   background-repeat: no-repeat;    /* Prevents the image from repeating */
  background-size: cover;          /* Scales the image to fill the entire screen */
  background-position: center;     /* Centers the background image */
  background-attachment: fixed;    /* (Optional) Keeps the background fixed while scrolling */ 
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
